q2/class2/class2-http-req-airtable-discord.json
{
  "name": "class2-http-req-airtable-discord",
  "nodes": [
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "0ac12eb2671c88c3ec6fafa11f7c9fc4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        -160
      ],
      "id": "8ca5927a-5bc1-4b9a-8134-58249f9a5c88",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EI68DI0Nudm4Dpfz",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d62c2b32-b599-4eb4-aa98-3fa3be2ca3ca",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        -160
      ],
      "id": "ece85418-086d-4187-9c86-82714a8caafe",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFXSgYz0uTjvYpg",
          "mode": "list",
          "cachedResultName": "base1",
          "cachedResultUrl": "https://airtable.com/appFXSgYz0uTjvYpg"
        },
        "table": {
          "__rl": true,
          "value": "tbl47OJkSTjox2cOX",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "https://airtable.com/appFXSgYz0uTjvYpg/tbl47OJkSTjox2cOX"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        16,
        -240
      ],
      "id": "70b70158-8780-41af-9ed8-ae0f5aef66ed",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "Jf2bpmIvuOjdMkk1",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c350c1d7-d3c0-45f3-a44c-891f00781d03",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "4bb1b496-8b45-4d32-99da-c3d2427cc0ed",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -240
      ],
      "id": "57eaab42-ce1a-426c-ae23-3f2af6e16fe2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -64
      ],
      "id": "beb1dfd8-d9c4-472a-a2f7-1b8f0b16a071",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -16,
        -64
      ],
      "id": "ad023ae4-12fd-485f-b239-2949e8b1f069",
      "name": "Discord",
      "webhookId": "5050429b-c1c7-44d9-9c23-3e7e0c657215",
      "credentials": {
        "discordWebhookApi": {
          "id": "15RbWh3orAewkpGG",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -848,
        -160
      ],
      "id": "3270eba1-54cb-4910-98c4-0ba9fd029913",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33b8b4a6-adc4-417f-b4ff-0f4fd934637f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3d6868c2470a4546c3fc948963297ccfa73c221c0bb56cb113c37bda269d6c3"
  },
  "id": "VPgqCx2BOtYSzRrS",
  "tags": []
}